@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

/*
font-family: 'Barlow', sans-serif;

font-family: 'Sarala', sans-serif;
*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {
font-size: 100%;
}

.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    background-color: #00261c;
    border-bottom: 4px solid #ec850b;
}
    .cabecalho-imagem {
        display: flex;
        align-items: center;
        gap: 10px;
    }
        .cabecalho-imagem-logo>img {
            height: 60px;
        }
        .cabecalho-imagem-texto {
            font-family: 'Sarala', sans-serif;
            color: #ec850b;
            font-size: 36px;
            font-weight: 700;
        }
    .cabecalho-menu {
        display: flex;
        gap: 32px;
    }
        .cabecalho-menu-item {
            font-family: 'Sarala', sans-serif;
            font-weight: 700;
            font-size: large;
            color: #fff;
            transition: 0.3s;
        }
            .cabecalho-menu-item:hover {
                color: #ec850b;
                transition: 0.3s;
            }



           
    .conteudo-principal {
       
        background: linear-gradient( 180deg, #00261c, #074d3a);

    }
        .conteudo-principal-conteiner{
            width: 1000px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        } 
            .conteudo-principal-escrito {
                display: flex;
                flex-direction: column;
                gap: 42px;
            }
                .conteudo-principal-escrito-titulo {
                    font-family: 'Barlow', sans-serif;
                    font-weight: 700;
                    font-size: 54px;
                    color: #fff;
                }
                .conteudo-principal-escrito-subtitulo {
                    font-family: 'Barlow', sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    color: #fff;

                }
            .conteudo-principal-conteiner>img {
                margin: 32px;
            }


.conteudo {
    width: 1000px;
    margin: auto;
    margin-bottom: 60px;

}
            